.drink-option {
    display: flex;
    width: 300px;
    height: 55px;
}

.drink-option * {
    font-family: cursive;
    font-size: medium;
}

.drink-button {
    flex: 1;
    background: burlywood;
}

.drink-alert {
    width: 47px;
    margin: 3px;
    border: 1px solid gray;
    border-radius: 40px;
    background: green;
}

.unavailable {
    background: red;
    color: white;
}